doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title GroceryGo - BabyCare Products
        link(rel='stylesheet' href='/css/bakeryProducts.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap')
        link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet")
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
        script(src='https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js')
        script(src='/js/bakeryProducts.js')
        script(src='/js/cartCount.js')

    body
        // Header
        header.header
            nav.navbar
                .navbar-left
                    a(href='/')
                        img.nav-logo(src='/img/grocerygo.png' alt='GroceryGo Logo')
                .navbar-center
                    form.search-form
                        input#search-input.search-bar(type='text' placeholder='Search for products')
                        button#search-button.search-button Search
                        button#voice-search-button.search-button
                            i(class='fa fa-microphone')
                .navbar-right
                    a(href='/getCart')
                        img.nav-icon(src='/img/wishlist.png' alt='Cart' class='nav-icon')
                        span.nav-text Cart
                        span#cart-count(aria-live='polite') 0
                    a(href='/signup')
                        img.nav-icon(src='/img/profile.png' alt='Profile' class='nav-icon')
                        span.nav-text Sign Up
        .categories-bar
            .categories-left
                h3 Shop By Categories

            .category-icons
                .category-item
                    i.fa.fa-utensils
                    span Vegetables & Fruits
                    script.
                        $(document).on('click', '.category-item:contains("Vegetables")', function() {
                            window.location.href = '/fruits-vegetables-Products';
                        });
                //- .category-item
                //-     i.fa.fa-apple-alt
                //-     span Fruits
                //-     script.
                //-         $(document).on('click', '.category-item:contains("Vegetables")', function() {
                //-             window.location.href = '/fruits-vegetables-Products';
                //-         });
                .category-item
                    i.fa.fa-bread-slice
                    span Breakfast & Dinner
                    script.
                        $(document).on('click', '.category-item:contains("BreakFast")', function() {
                            window.location.href = '/breakfast-Products';
                        });
                //- .category-item
                //-     i.fa.fa-concierge-bell
                //-     span Dinner
                //-     script.
                //-         $(document).on('click', '.category-item:contains("BreakFast")', function() {
                //-             window.location.href = '/breakfast-Products';
                //-         });
                .category-item
                    i.fa.fa-drumstick-bite
                    span Meat & Seafood
                    script.
                        $(document).on('click', '.category-item:contains("Meat")', function() {
                            window.location.href = '/Meat-Seafood-Products';
                        });
                //- .category-item
                //-     i.fa.fa-fish
                //-     span SeaFood
                //-     script.
                //-         $(document).on('click', '.category-item:contains("Meat")', function() {
                //-             window.location.href = '/Meat-Seafood-Products';
                //-         });
                .category-item
                    i.fa.fa-cookie
                    span Snacks & Colddrinks
                    script.
                        $(document).on('click', '.category-item:contains("Snacks")', function() {
                            window.location.href = '/Snacks-Products';
                        });
                //- .category-item
                //-     i.fa.fa-glass-martini-alt
                //-     span ColdDrinks
                //-     script.
                //-         $(document).on('click', '.category-item:contains("Snacks")', function() {
                //-             window.location.href = '/Snacks-Products';
                //-         });
                .category-item
                    i.fa.fa-baby-carriage
                    span BabyCare
                    script.
                        $(document).on('click', '.category-item:contains("Baby Care")', function() {
                            window.location.href = '/Babycare-Products';
                        });
                .category-item
                    i.fa.fa-paw
                    span PetCare
                    script.
                        $(document).on('click', '.category-item:contains("Pet Care")', function() {
                            window.location.href = '/Petcare-Products';
                        });
                .category-item
                    i.fa.fa-pen
                    span Stationary
                    script.
                        $(document).on('click', '.category-item:contains("Stationary")', function() {
                            window.location.href = '/Stationery-Products';
                        }); 
                .category-item
                    i.fa.fa-birthday-cake
                    span Bakery
                    script.
                        $(document).on('click', '.category-item:contains("Bakery")', function() {
                            window.location.href = '/bakery-dairy-Products';
                        });

        

        //- // Categories bar
        //- .categories-bar
        //-     .categories-left
        //-         h3 Shop By Categories

        //-     .category-icons
        //-         // Category 1: Vegetables
        //-         .category-item
        //-             i.fa.fa-utensils
        //-             span Vegetables
        //-         .category-item
        //-             i.fa.fa-apple-alt
        //-             span Fruits
        //-         // Category 2: Breakfast
        //-         .category-item
        //-             i.fa.fa-bread-slice
        //-             span Breakfast
        //-         .category-item
        //-             i.fa.fa-concierge-bell
        //-             span Dinner
        //-         // Category 3: Meat
        //-         .category-item
        //-             i.fa.fa-drumstick-bite
        //-             span Meat
        //-         .category-item
        //-             i.fa.fa-fish
        //-             span SeaFood
        //-         // Category 4: Snacks
        //-         .category-item
        //-             i.fa.fa-cookie
        //-             span Snacks
        //-         .category-item
        //-             i.fa.fa-glass-martini-alt
        //-             span Cold Drinks
        //-         // Category 5: Baby
        //-         .category-item
        //-             i.fa.fa-baby-carriage
        //-             span BabyCare
        //-         // Category 6: Pet
        //-         .category-item
        //-             i.fa.fa-paw
        //-             span PetCare
        //-         // Category 7: Stationary
        //-         .category-item
        //-             i.fa.fa-pen
        //-             span Stationary
        //-         // Category 8: Bakery
        //-         .category-item
        //-             i.fa.fa-birthday-cake
        //-             span Bakery

        h3.products-heading Baby Care Products
        .sort-buttons
            button#sortAsc.btn Price Low To High
            button#sortDesc.btn Price High To Low
        .products-container

//- doctype html
//- html
//-     head
//-         meta(charset='UTF-8')
//-         meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-         title GroceryGo - BabyCare Products
//-         link(rel='stylesheet' href='/css/bakeryProducts.css')
//-         link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
//-         link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
//-         link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
//-         link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap')
//-         link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet")
//-         script(src='https://code.jquery.com/jquery-3.6.0.min.js')
//-         script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
//-         script(src='https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js')
//-         script(src='/js/search.js')

//-     body
//-         // Header
//-         header.header
//-             nav.navbar
//-                 .navbar-left
//-                     a(href='/')
//-                         img.nav-logo(src='/img/grocerygo.png' alt='GroceryGo Logo')
//-                 .navbar-center
//-                     form.search-form
//-                         input#search-input.search-bar(type='text' placeholder='Search for products')
//-                         button#search-button.search-button Search
//-                 .navbar-right
//-                     a(href='/getCart')
//-                         img.nav-icon(src='/img/wishlist.png' alt='Cart' class='nav-icon')
//-                         span.nav-text Cart
//-                     a(href='/signup')
//-                         img.nav-icon(src='/img/profile.png' alt='Profile' class='nav-icon')
//-                         span.nav-text Sign Up

//-         // Categories bar
//-         .categories-bar
//-             .categories-left
//-                 h3 Shop By Categories

//-             .category-icons
//-                 // Category 1: Vegetables
//-                 .category-item
//-                     i.fa.fa-utensils
//-                     span Vegetables
//-                     script.
//-                         $(document).on('click', '.category-item:contains("Vegetables")', function() {
//-                             window.location.href = '/fruits-vegetables-Products';
//-                         });
//-                 .category-item
//-                     i.fa.fa-apple-alt
//-                     span Fruits
//-                     script.
//-                         $(document).on('click', '.category-item:contains("Fruits")', function() {
//-                             window.location.href = '/fruits-vegetables-Products';
//-                         });
//-                 // Category 2: Breakfast
//-                 .category-item
//-                     i.fa.fa-bread-slice
//-                     span Breakfast
//-                     script.
//-                         $(document).on('click', '.category-item:contains("Breakfast")', function() {
//-                             window.location.href = '/breakfast-Products';
//-                         });
//-                 .category-item
//-                     i.fa.fa-concierge-bell
//-                     span Dinner
//-                     script.
//-                         $(document).on('click', '.category-item:contains("Dinner")', function() {
//-                             window.location.href = '/breakfast-Products';
//-                         });
//-                 // Category 3: Meat
//-                 .category-item
//-                     i.fa.fa-drumstick-bite
//-                     span Meat
//-                     script.
//-                         $(document).on('click', '.category-item:contains("Meat")', function() {
//-                             window.location.href = '/Meat-Seafood-Products';
//-                         });
//-                 .category-item
//-                     i.fa.fa-fish
//-                     span SeaFood
//-                     script.
//-                         $(document).on('click', '.category-item:contains("SeaFood")', function() {
//-                             window.location.href = '/Meat-Seafood-Products';
//-                         });
//-                 // Category 4: Snacks
//-                 .category-item
//-                     i.fa.fa-cookie
//-                     span Snacks
//-                     script.
//-                         $(document).on('click', '.category-item:contains("Snacks")', function() {
//-                             window.location.href = '/Snacks-Products';
//-                         });
//-                 .category-item
//-                     i.fa.fa-glass-martini-alt
//-                     span Cold Drinks
//-                     script.
//-                         $(document).on('click', '.category-item:contains("Cold Drinks")', function() {
//-                             window.location.href = '/Snacks-Products';
//-                         });
//-                 // Category 5: Baby
//-                 .category-item
//-                     i.fa.fa-baby-carriage
//-                     span BabyCare
//-                     script.
//-                         $(document).on('click', '.category-item:contains("BabyCare")', function() {
//-                             window.location.href = '/Babycare-Products';
//-                         });
//-                 // Category 6: Pet
//-                 .category-item
//-                     i.fa.fa-paw
//-                     span PetCare
//-                     script.
//-                         $(document).on('click', '.category-item:contains("PetCare")', function() {
//-                             window.location.href = '/Petcare-Products';
//-                         });
//-                 // Category 7: Stationary
//-                 .category-item
//-                     i.fa.fa-pen
//-                     span Stationary
//-                     script.
//-                         $(document).on('click', '.category-item:contains("Stationary")', function() {
//-                             window.location.href = '/Stationery-Products';
//-                         });
//-                 // Category 8: Bakery
//-                 .category-item
//-                     i.fa.fa-birthday-cake
//-                     span Bakery
//-                     script.
//-                         $(document).on('click', '.category-item:contains("Bakery")', function() {
//-                             window.location.href = '/bakery-dairy-Products';
//-                         });

//-         h3.products-heading Baby Care Products
//-         .sort-buttons
//-             button#sortAsc.btn Price Low To High
//-             button#sortDesc.btn Price High To Low
//-         .products-container

//-         script.
//-             $(document).ready(function() {
//-                 // Function to fetch products
//-                 function fetchProducts(sortOrder) {
//-                     $.ajax({
//-                         url: `/api/v1/products/Babycare-Products?sortOrder=${sortOrder}`,
//-                         method: 'GET',
//-                         success: function(response) {
//-                             if (response.status === 'success') {
//-                                 const products = response.data.Babycare;
//-                                 let productsHtml = '';

//-                                 products.forEach(category => {
//-                                     category.products.forEach(product => {
//-                                         productsHtml += `
//-                                             <div class="product-card">
//-                                                 <img class="product-image" src="/img/products/${product.photo}" alt="${product.name}">
//-                                                 <div class="product-details">
//-                                                     <h3 class="product-name">${product.name}</h3>
//-                                                     <div class="quantity">(${product.quantity})</div>
//-                                                     <div class="price">
//-                                                         <div class="original-price">PKR ${product.price}</div>
//-                                                         ${product.discountPercentage ? `<div class="discounted-price">PKR ${(product.price - (product.price * (product.discountPercentage / 100))).toFixed(2)}</div>` : ''}
//-                                                     </div>
//-                                                     <button class="add-to-cart" data-product-id="${product._id}">Add to Cart</button>
//-                                                 </div>
//-                                             </div>
//-                                         `;
//-                                     });
//-                                 });

//-                                 $('.products-container').html(productsHtml);
//-                             } else {
//-                                 console.error('Failed to fetch products');
//-                             }
//-                         },
//-                         error: function(xhr) {
//-                             if (xhr.status === 401) {
//-                                 console.error('Unauthorized access: JWT not found in cookie.');
//-                             } else {
//-                                 console.error('Error:', xhr);
//-                             }
//-                         }
//-                     });
//-                 }

//-                 // Function to get JWT cookie
//-                 function getCookie(name) {
//-                     const cookieString = RegExp('' + name + '=([^;]*)').exec(document.cookie);
//-                     return cookieString ? cookieString[1] : null;
//-                 }

//-                 // Fetch products on page load
//-                 fetchProducts('asc');

//-                 // Event listeners for sorting buttons
//-                 $('#sortAsc').on('click', function() {
//-                     fetchProducts('asc');
//-                 });

//-                 $('#sortDesc').on('click', function() {
//-                     fetchProducts('desc');
//-                 });

//-                 // Event listener for add to cart button
//-                 $('.products-container').on('click', '.add-to-cart', function() {
//-                     const productId = $(this).data('product-id');
//-                     const jwtCookie = getCookie('jwt');

//-                     if (!jwtCookie) {
//-                         console.error('JWT not found in cookie.');
//-                         return;
//-                     }

//-                     const userId = getUserIdFromJwt(jwtCookie); // Extract userId from JWT

//-                     if (!userId) {
//-                         console.error('User ID not found in JWT.');
//-                         return;
//-                     }

//-                     // API request to add product to cart
//-                     $.ajax({
//-                         url: `/api/v1/cart/${userId}/addToCart`,
//-                         method: 'POST',
//-                         contentType: 'application/json',
//-                         headers: {
//-                             'Authorization': `Bearer ${jwtCookie}`
//-                         },
//-                         data: JSON.stringify({ productId, productQuantity: 1 }),
//-                         success: function(response) {
//-                             if (response.status === 'success') {
//-                                 console.log('Product added to cart successfully!');
//-                             } else {
//-                                 console.error('Failed to add product to cart:', response.error);
//-                             }
//-                         },
//-                         error: function(xhr) {
//-                             console.error('Error adding product to cart:', xhr);
//-                         }
//-                     });
//-                 });

//-                 // Function to extract userId from JWT
//-                 function getUserIdFromJwt(jwt) {
//-                     try {
//-                         const decoded = jwt_decode(jwt);
//-                         return decoded.id; 
//-                     } catch (error) {
//-                         console.error('Failed to decode JWT:', error);
//-                         return null;
//-                     }
//-                 }
//-             });


